/* Geral */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Barra de Navegação */

header {
  margin: 0 0 40px 0;
}

.barra-nav img {
  width: 78px;
  margin: 10px 0px 10px 15px;
}

.barra-nav {
  width: 100%;
  background-color: #1bab2e;
  display: flex;
  align-items: center;
  gap: 40px;
}

.barra-nav ul {
  flex-direction: row;
  gap: 50px;
}

.barra-nav ul a,
.atual,
.copyright {
  width: calc(fit-content + 20px);
  height: 35px;
  padding: 10px;
  border-radius: 24px;

  display: inline-flex;
  margin-right: 20px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;

  list-style-type: none;
  text-decoration: none;
}

.barra-nav ul a:hover {
  background-color: #11cc1e;
  transition: 0.3s;
  animation: slide-top 0.3s both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}

.barra-nav ul .atual {
  background-color: #11cc1e;
  cursor: pointer;
}

/* Site Conteúdo */
body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.container_1 {
  background-color: #f1f1f1;
  padding: 64px;
  margin: -40px 0 0 0;
}

.container_2 {
  padding: 64px;
  background-color: #fff;
}

.container_3 {
  background-color: #f1f1f1;
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

img:hover {
  transform: scale(1.1);
  transition: 1.3s;
  border-radius: 0.3s;
  opacity: 1.3s;
  background-color: #1e1e1e;
  opacity: 0.7;
}

.img_dir {
  border-radius: 20px;
  display: block;
  height: auto;
  max-width: 100%;
  -webkit-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 0.75);
}

.img_esq {
  border-radius: 20px;
  display: block;
  height: auto;
  max-width: 100%;
  -webkit-box-shadow: -10px 10px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 10px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 10px 25px -8px rgba(0, 0, 0, 0.75);
}

.site__content h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #1e1e1e;
  font-weight: bold;
}

.site__content p,
.site__content ul li {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 10px 0;
  font-size: solid 14px;
  color: #1e1e1e;
  text-align: justify;
}

.container_metodologia {
  background-color: #fff;
  margin: 40px;
  padding: 40px;
  border-radius: 20px;
}

.container_resultados {
  background-color: #fff;
  margin: 40px;
  padding: 40px;
  border-radius: 20px;
}

.container_metodologia .img_tabela {
  display: block;
  margin: 20px auto 0 auto;
  width: 40%;
  border-radius: 10px;
}

/* Footer */
footer {
  padding: 10px;
  background-color: #1bab2e;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  justify-content: center;
}
